
section{
    
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
    
}


h1{
    text-align: center;
}


#one{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
}

#two{
    padding: 4em;
    margin-top: 0.8%;
    align-content: center;
}
#three{
    padding-left: 4.7em;    
}
label {
    display: flex;
    justify-content: left;
    text-align: left;
    width: auto;
    line-height: 26px;
    margin-bottom: 10px;

  }
  
  input {
    height: 20px;
    flex: 0px 0px 200px;
    margin-top: 4px;
    margin-left: 10px;
    
  }
  select{
    height: 20px;
    flex: 0px 0px 200px;
    margin-top: 4px;
    margin-left: 10px;
  }


  #adbox {
    width: auto;
    height: 120px;
    margin-top: -35px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: dimgray;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 